
.page-card{
    width: 680px;
    margin-top: 16px;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}

.page-card-tips{
    width: 680px;
    margin-top: 16px;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}

.page-card-more{
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.page-card-title{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.page-card-title:hover{
    color: #3f65c9;
}

#pageCardMore:hover{
    color: #1f8dfb !important;
}

.page-card-text{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
}

.page-card-text-pickUp{
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    font-size: 14px;
    color: #5b5b5b;
    cursor: pointer;
}

.page-card-comments-content{
    padding-bottom: 20px;
}

.page-card-text-button{
    color: #1f8dfb !important;
}

.page-card-text-button:hover{
    text-decoration: underline!important
}

.page-card-bottom-reader{
    display: inline-block;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 14px;
    color: #ff4c4c;
    background-color: #ffecec;
    border-radius: 15px;
    cursor: pointer;
}

.page-card-bottom-reader:hover{
    color: #ffffff;
    background-color: #ff6c6c;
}

.page-card-bottom-reader-already{
    display: inline-block;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #ff6c6c;
    border-radius: 15px;
    cursor: pointer;
}

.page-card-bottom-item{
    display: inline-block;
    font-size: 14px;
    color: #8590a6;
    margin: 0 10px;
    cursor: pointer;
}

.page-card-bottom-item:hover{
    color: #656d7d;
}
