.personalInfo-container{
    padding-top: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}

.personalInfo-content{
    width: 920px;
    margin: 0 auto;
    padding: 20px;
    color: #1a1a1a;
}

.personalInfo-user{
    padding-bottom: 20px;
}

.personalInfo-picture-content{
    margin-right: 15px;
}

.personalInfo-picture{
    border: 1px solid #ff5c5c;
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
}

.personalInfo-name{
    padding: 10px 0;
    font-size: 21px;
    color: #2b2b2b;
    font-weight: bold;
}

.personalInfo-description{
    font-size: 15px;
    color: #4d4c4c;
}

.personalInfo-button-group{
    max-width: 680px;
    font-size: 0;
    border-bottom: 1px solid #dddddd;
}

.personalInfo-button{
    display: inline-block;
    margin: 0 5px;
    padding: 14px 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #656d7d;
    text-align: center;
    background-color: transparent;
    outline: none!important;
    border: 2px solid transparent;
    opacity: 0.7;
}

.personalInfo-button:hover{
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #656d7d;
    opacity: 1;
}

.personalInfo-button-active{
    display: inline-block;
    margin: 0 5px;
    padding: 14px 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #656d7d;
    text-align: center;
    background-color: transparent;
    outline: none!important;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #656d7d;
    opacity: 1;
}

.personal-info-content{
    padding: 30px 0 20px 0;
    border-radius: 15px;
    font-size: 15px;
    color: #4d4c4c;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}

.personalInfo-columns{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding: 20px 15px 15px 20px;
}