body{
    font-family: "first font", serif !important;
    background-color: #ffffff !important;
    overflow-y:scroll !important;

    /*解决bootstrap的弹窗出现之后滚动条消失，页面横移问题*/
    padding-right: 0!important;
}

nav{
    /*解决bootstrap的弹窗出现之后滚动条消失，页面横移问题*/
    padding: 0!important;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.15)
}

@font-face {
    font-family: first font;
    /*src: url("../font/PingFang Medium.ttf");*/
    src: url("/font/PingFang Medium.ttf");
}

a{
    text-decoration: none !important;
}

.page-container-header{
    margin: 0 auto;
    width: 1280px;
    font-size: 0;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.page-container{
    /*position: fixed;*/
    margin: 0 auto;
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
}

.page-header-logo{
    display: inline-block;
    vertical-align: top;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 30px;
}

.page-header-search{
    margin: 0 auto;
    max-width: 924px;
}

@keyframes searchBar {
    to{

    }
}

.page-header-personalInfo{
    position: absolute;
    top: 62px;
}

.page-search{
    padding: 15px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
}

.page-search-input{
    font-size: 16px;
    color: #484848;
    border: 1px solid #1f8dfb;
    border-radius: 20px 0 0 20px;
    padding: 5px 10px 5px 15px;
    width: 480px;
    outline: none;
}

.page-search-button{
    font-size: 16px;
    color: #ffffff;
    padding: 5px 20px;
    background-color: #1f8dfb;
    border-radius: 0 20px 20px 0;
    border: 1px solid #1f8dfb;
    outline: none;
}

.page-personalInfo{
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
}

.page-header-nav{
    display: inline-block;
    vertical-align: top;
    height: 62px;
    padding: 0 14px 4px 14px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #8590a6;
    background-color: #ffffff;
    border-top: 4px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
}

.page-header-nav:hover{
    color: #1f8dfb;
    border-top: 4px solid #1f8dfb;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.page-header-nav-button{
    display: inline-block;
    vertical-align: top;
    height: 62px;
    padding: 0 16px 4px 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.page-header-nav-button:hover{
    color: #1f8dfb!important;
    border-top: 4px solid #1f8dfb!important;
    border-left: 1px solid #eeeeee!important;
    border-right: 1px solid #eeeeee!important;
}

.page-header-nav-under{
    padding: 8px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #484848;
    border: 1px solid transparent;
    border-radius: 25px 25px;
}

.page-header-nav-under:hover{
    color: #1f8dfb;
}

.page-header-nav-right{
    display: inline-block;
    vertical-align: middle;
    margin: 8px 15px;
    background-color: transparent;
    font-size: 14px;
    color: #ff5c5c;
    cursor: pointer;
}

.page-card-columns{
    padding-top: 2px;
    padding-bottom: 10px;
}

.page-header-nav-press{
    padding: 8px 20px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #1f8dfb;
    border: 1px solid #1f8dfb;
    border-radius: 25px 25px;
}

.page-right-part{
    padding-top: 2px;
    padding-left: 15px;
}

.page-right-card-info{
    width: auto;
    height: 350px;
    margin-top: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
}

.page-personalInfo-items{
    display: block;
    font-size: 14px;
    color: #8590a6;
    margin: 10px 0;
    cursor: pointer;
}

.page-personalInfo-items:hover{
    color: #1f8dfb;
}

.page-right-card-info-items{
    display: block;
    font-size: 14px;
    color: #8590a6;
    margin: 10px 0;
    cursor: pointer;
}

.page-right-card-info-items:hover{
    color: #1f8dfb;
}

.question-input{
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #484848;
    border: none;
    outline: none;
    overflow: auto;
}

.question-submit{
    margin: 0 auto;
    padding: 5px 50px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    color: #1f8dfb;
    border: 1px solid #1f8dfb;
    border-radius: 25px 25px;
    outline: none;
}

.question-submit:hover{
    color: #ffffff;
    background-color: #1f8dfb;
}