hr{
    margin:0 !important;
}

.question-container{
    width: 100%;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
}

.question-info{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 960px;
    padding: 20px;
}

.question-title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0;
    color: #484848;
}

.question-description{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #5b5b5b;
}

.question-info-bottom{
    padding-top: 10px;
}

.question-info-button-focus{
    display: inline-block;
    margin-right: 10px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    color: #ffffff;
    background-color: #ff5c5c;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.question-info-button-focus:hover{
    background-color: #ff4c4c;
}

.question-info-button-answer{
    display: inline-block;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    color: #ff5c5c;
    border: 1px solid #ff5c5c;
    border-radius: 20px;
    cursor: pointer;
}

.question-info-button-answer:hover{
    background-color: #ffecec;
}

.question-columns{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding: 20px 15px 15px 20px;
}

.question-right-info{
    height: 350px;
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
}

.question-right-author{
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
}

.answer-card{
    width: 680px;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
}

.answer-card-author{
    font-size: 15px;
    padding-bottom: 10px;
}

.answer-card-author-img{
    width: 64px;
    height: 64px;
    border: 1px solid #ff5c5c;
    border-radius: 50% 50%;
}

.author-info{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.author-name{
    padding: 5px;
    font-size: 15px;
    color: #484848
}

.author-description{
    padding: 5px;
    font-size: 14px;
    color: #5b5b5b;
}

.answer-star{
    font-size: 14px;
    color: #8590a6;
    padding-top: 10px;
    padding-bottom: 5px;
}

.answer-description{
    font-size: 15px;
    color: #484848;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-card-bottom-reader{
    display: inline-block;
    font-size: 14px;
    color: #ff5c5c;
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid #ff5c5c;
    border-radius: 15px;
    cursor: pointer;
}

.page-card-bottom-reader:hover{
    color: #ff8484;
    border-color: #ff8484 ;
}

.page-card-bottom-item{
    display: inline-block;
    font-size: 14px;
    color: #8590a6;
    margin: 0 10px;
    cursor: pointer;
}

.page-card-bottom-item:hover{
    color: #656d7d;
}
