hr{
    margin:0 !important;
}

.container-fluid{
    background-color: #ffffff;
}

.question-container{
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}

.question-info{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #1a1a1a;
    width: 920px;
    padding: 20px;
}

.question-title{
    font-size: 22px;
    font-weight: bold;
}

.question-description{
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.question-info-bottom{
    padding-top: 10px;
}

.question-info-button-focus{
    display: inline-block;
    margin-right: 10px;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    color: #ffffff;
    background-color: #ff5c5c;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.question-info-button-focus:hover{
    background-color: #ff4c4c;
}

.question-info-button-answer{
    display: inline-block;
    padding: 5px 20px 5px 20px;
    font-size: 15px;
    color: #ff5c5c;
    border: 1px solid #ff5c5c;
    border-radius: 20px;
    cursor: pointer;
}

.question-info-button-answer:hover{
    background-color: #ffecec;
}

.question-columns{
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding: 20px 15px 15px 20px;
}

.question-right-author{
    position: sticky;
    top: 82px;
    padding: 10px 25px;
    border-radius: 15px;
    color: #1a1a1a;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}

.about-author-word{
    padding-top: 5px;
    padding-bottom: 15px;
}

.about-author-personalInfo{
    display: table;
    padding-top: 20px;
    padding-bottom: 20px;
}

.about-author-img{
    width: 60px;
    height: 60px;
    border-radius: 50% 50%;
    border: 1px solid #ff5c5c;
}

.about-author-name{
    font-size: 20px;
}

.about-author-description{
    height: 65px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    font-size: 14px;
    padding-bottom: 5px;
}

.about-author-info{
    padding-top: 20px;
    padding-bottom: 10px;
}

.author-zhifou-info{
    display: table-cell;
    text-align: center;
    font-size: 14px;
    color: #8590a6;
}

.author-zhifou-info-num{
    font-size: 18px;
    color: #ff5c5c;
}

.about-author-bottom{
    margin: 0 auto;
    padding-top: 5px;
}

.about-author-bottom-focus{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    color: #ffffff;
    background-color: #ff5c5c;
    border-radius: 20px;
    cursor: pointer;
}

.about-author-bottom-focus:hover{
    color: #ffffff;
    background-color: #ff4c4c;
}

.about-author-bottom-button{
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
    padding: 5px 20px 5px 20px;
    color: #ff5c5c;
    border: 1px solid #ff5c5c;
    border-radius: 20px;
    cursor: pointer;
}

.about-author-bottom-button:hover{
    background-color: #ffecec;
}

.answer-card{
    position: relative;
    width: 680px;
    margin-bottom: 16px;
    padding: 15px 20px 0 20px;
    color: #1a1a1a;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}

.answer-top{
    position: absolute;
    top: -77px;
}

.answer-card-author{
    font-size: 15px;
}

.answer-card-author-img{
    width: 48px;
    height: 48px;
    border: 1px solid #ff5c5c;
    border-radius: 50% 50%;
}

.author-info{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.author-name{
    font-size: 15px;
}

.author-description{
    max-width: 500px;
    font-size: 14px;
    color: #5b5b5b;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break:break-all;
}

.answer-star{
    font-size: 14px;
    color: #8590a6;
    padding-top: 5px;
    padding-bottom: 5px;
}

.answer-description{
    position: relative;
    overflow: hidden;
    font-size: 15px;
    padding-top: 10px;
}

.answer-shadow{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    background: linear-gradient(to bottom,  rgba(255,255,255,0),rgba(255,255,255,0.8), rgba(255,255,255,1));
}

.answer-shadow-text{
    line-height: 150px;
    color: #1f8dfb;
    cursor: pointer;
}

.answer-shadow-text:hover{
    text-decoration: underline!important
}

.answer-time{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #8590a6;
}

.question-card-bottom{
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 1px solid #dddddd;
}

.page-card-bottom-reader{
    display: inline-block;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 14px;
    color: #ff4c4c;
    background-color: #ffecec;
    border-radius: 15px;
    cursor: pointer;
}

.page-card-bottom-reader:hover{
    color: #ffffff;
    background-color: #ff6c6c;
}

.page-card-bottom-reader-already{
    display: inline-block;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #ff6c6c;
    border-radius: 15px;
    cursor: pointer;
}

.page-card-bottom-item{
    display: inline-block;
    font-size: 14px;
    color: #8590a6;
    margin: 0 10px;
    cursor: pointer;
}

.page-card-bottom-item:hover{
    color: #656d7d;
}

.page-card-bottom-pickup-answer{
    font-size: 14px;
    color: #1f8dfb;
    margin: 0 10px;
    cursor: pointer;
}

.page-card-bottom-pickup-answer:hover{
    text-decoration: underline!important
}

.question-num-info{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.question-follower{
    font-size:14px;
    color: #8590a6;
}

.question-follower-num{
    font-size:18px;
    font-weight: bold;
    color: #ff5c5c;
}

.question-card-tips{
    width: 680px;
    margin-top: 16px;
    padding: 15px 20px;
    text-align: center;
    color: #8590a6;
    cursor: pointer;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.1);
}

.answer-card-more{
    width: 100%;
    text-align: center;
    font-size: 15px;
}

