.register-page{
    background-image: url("/img/background.png");
    background-position:center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.register-page-load-title{
    font-size: 28px;
    font-weight: 800;
    color: #1f8dfb;
}

.register-page-load-text{
    font-size: 16px;
}

.register-page-login{
    display: inline-block;
    font-size: 16px;
    color: #1f8dfb;
    cursor: pointer;
}

.register-page-login:hover{
    text-decoration: underline!important
}

.register-page-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
}

.register-page-input-div{
    padding: 10px 0;
    color: #2b2b2b
}

.register-page-input{
    width: 350px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #1f8dfb;
    padding: 10px 15px;
    outline: none;
    text-overflow: ellipsis;
}

.register-page-submit {
    width: 350px;
    height: 44px;
    font-size: 20px;
    color: #ffffff;
    background-color: #1f8dfb;
    border: 1px solid #1f8dfb;
    border-radius: 22px;
    outline: none;
}