body{
    font-family: "first font", serif !important;
    background-color: #ffffff !important;
}

@font-face {
    font-family: first font;
    /*src: url("../font/PingFang Medium.ttf");*/
    src: url("/font/PingFang Medium.ttf");
}

a{
    text-decoration: none !important;
}